<style>
        img{
            transform:scale(2);//设置缩放比例
            -ms-transform:scale(2);
            -webkit-transform:scale(2);
            -o-transform:scale(2);
            -moz-transform:scale(2);
            z-index: 999999;
            position: fixed;
        }

</style>
<iframe runat="server" src="http://www.missevan.com/soundiframe/<?= $id ?>" width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
